



.holder{
    background-color: #001449;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    margin-left: 60px;
}

.form-control{
    background-color: blanchedalmond;
}

.name{
    font-size: 30px;
    color: #00b4fc;
    margin-top: 40px;
    margin-left: 20px;
}

.input{
    width: 300px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 20px;
}

.btn{
    margin-top: 20px;
    background-color: #00b4fc;
    padding: 15px;
    margin-left: 20px;
}
